urls:
  multitran: "https://www.multitran.com/"
  deepl: "https://www.deepl.com/translator"
  cambridge: "https://dictionary.cambridge.org/"
  github: "https://github.com/"
  gitlab: "https://gitlab.com/"
  devdocs: "https://devdocs.io/"
  pocket: "https://getpocket.com/saves"
  googlekeep: "https://keep.google.com/"
  reddit: "https://www.reddit.com/"
  twitter: "https://twitter.com/home"
  instagram: "https://www.instagram.com/"
  leetcode: "https://leetcode.com/"
  duolingo: "https://www.duolingo.com/learn"
  duden: "https://www.duden.de/"
  forvo: "https://forvo.com/"
  googletranslate: "https://translate.google.com/" 
  youtube: "https://www.youtube.com/"
  googlecalendar: "https://calendar.google.com/calendar"
  googlesheets: "https://docs.google.com/spreadsheets"
  facebook: "https://www.facebook.com/"
  linkedin: "https://www.linkedin.com/"
  stackoverflow: "https://stackoverflow.com/"
  googlemeet: "https://meet.google.com/"
  googlemaps: "https://www.google.com/maps"
  loom: "https://www.loom.com/looms/videos"
  timezones: "https://www.timezones.digital/"
apps-to-open:
  safari: "/../../Applications/Safari.app/"
  settings: "/../../System/Applications/System Settings.app/"
  monitor: "/../../System/Applications/Utilities/Activity Monitor.app/"
  calendar: "/../../System/Applications/Calendar.app/"
  photos: "/../../System/Applications/Photos.app/"
  podcasts: "/../../System/Applications/Podcasts.app/"
  appstore: "/../../System/Applications/App Store.app/"
  books: "/../../System/Applications/Books.app/"
  dictionary: "/../../System/Applications/Dictionary.app/"
  findmy: "/../../System/Applications/FindMy.app/"
  firefox: "/../../Applications/Firefox.app/"
  spotify: "/../../Applications/Spotify.app/"
  notes: "/../../System/Applications/Notes.app/"
  stickies: "/../../System/Applications/Stickies.app/"
  clock: "/../../System/Applications/Clock.app/"
  freeform: "/../../System/Applications/Freeform.app/"
  weather: "/../../System/Applications/Weather.app/"
apps-to-close: 
  safari: quit app "Safari"
  settings: quit app "System Settings"
  monitor: quit app "Activity Monitor"
  calendar: quit app "Calendar"
  photos: quit app "Photos"
  podcasts: quit app "Podcasts"
  appstore: quit app "AppStore"
  books: quit app "Books"
  dictionary: quit app "Dictionary"
  findmy: quit app "FindMy"
  firefox: quit app "Firefox"
  spotify: quit app "Spotify"
  notes: quit app "Notes"
  stickies: quit app "Stickies"
  clock: quit app "Clock"
  freeform: quit app "Freeform"
  weather: quit app "Weather"
